
/* في ملف style.css */
body {
    /* استبدل اسم الملف الحالي (الذي يبدو غير مكتمل) بالاسم الكامل الجديد */
    background-image: url('images/Libra-fridom.jpg_20251106_135339_0000.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
